/* ------------------------ RESET GLOBAL ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ LAYOUT BÁSICO ------------------------ */
body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  min-height: 100vh;

  /* Para o footer ir pro final */
  display: flex;
  flex-direction: column;
}

/* ------------------------ HEADER (idêntico ao do site) ------------------------ */
header {
  background-color: #0DCEDA;
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  height: 125px;
}

/* Links do menu */
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;

  color: black;
  text-decoration: none;

  transition: 0.2s;
}

.menu a:hover {
  color: white;
}

/* ------------------------ DASHBOARD ------------------------ */
h1 {
  margin: 40px 0;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  text-align: center;
}

.card span {
  font-size: 45px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

/* ------------------------ FOOTER (igual ao site) ------------------------ */
footer {
  background-color: #0DCEDA;
  width: 100%;
  height: 50px;

  margin-top: auto; /* deixa o footer colado no fim */

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
